<table class="table">
<tr>
<th>name</th>
<th>advertiser_id</th>
<th>email</th>
<th>phone</th>
<th>account</th>
<th>password</th>
<th>count</th>
</tr>
<td><%= @advertises.name %></td>
<td><%= @advertises.advertiser_id %></td>
<td><%= @advertises.email %></td>
<td><%= @advertises.phone %></td>
<td><%= @advertises.account %></td>
<td><%= @advertises.password %></td>
<td><%= @advertises.count %></td>
</table>